# Archivos de entorno
.env
.env.local
.env.*

# Carpetas de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
env.bak/
venv.bak/
medico/

# Carpetas de Django
db.sqlite3

# Archivos de IDE
.vscode/
*.swp
*.swo
.idea/
*.log

# Archivos de sistema
.DS_Store
Thumbs.db


